.Holder {
    
    display: none;
}

.active {
    z-index: 100;
    display: flex;
    margin-left: -650px;
    margin-top: 110px;
    /* margin-left: 0 auto;
    margin-right: 0 auto;
    float: left;  */
    /* align-items: center;
    justify-content: center; */
    position: fixed;
    width: 901px;
    height: 463px;
    /* flex-shrink: 0; */
    background-color: #FFFDF5;
    border: 1px solid #121212;
    padding-top: 135px;
    padding-left: 110px;
    /* display: flex; */
}

.LogInToYourAccount {
    display: flex;
    width: 447px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #121212;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%; /* 34.922px */
}
.ForegotText {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FFFDF5;
}
.Foregot {
    
    background: #FFFDF5;
}
.EmailHolder {
    margin-top: 60px;
    width: 132px;
}
.EMail {
    background: #FFFDF5;
    min-width: 400px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.EMail:valid:focus {
    border-top: none;
    border-right: none;
    border-left: none;
}

.passwdHolder {
    
    width: 132px;
}
.Passwd {
    margin-top: 30px;
    background: #FFFDF5;
    min-width: 400px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.Passwd:valid:focus {
    border-top: none;
    border-right: none;
    border-left: none;
}

.btns {
    display: flex;
}

.LogIn {
    cursor: pointer;
    width: 148px;
    height: 37px;
    flex-shrink: 0;
    border: 0.5px solid #514A7E;
    background-color: #514A7E;
}
.LogInText {
    margin-left: 21px;
    display: flex;
    width: 108px;
    height: 9px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFFDF5;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Reg {
    cursor: pointer;
    margin-left: 46px;
    width: 149.28px;
    height: 37px;
    flex-shrink: 0;
    border: 0.5px solid #514A7E;
}
.RegText {
    margin-left: 35px;
    display: flex;
    width: 85px;
    height: 9px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;color: #121212;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Reg:hover {
    background-color: #514A7E;
}
.Reg:hover .RegText{
    color:#FFFDF5;
}

.closeButton {
    /* cursor: pointer; */
    margin-top: -36px;
    margin-left: 195px;
}

#cir {
    cursor: pointer;
}
.X {
    cursor: pointer;
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    margin-left: -43px;
}