.faqEl {
    cursor: pointer;
    display: flex;
    margin-top: 15px;
    width: 1170px;
    /* height: 0.5px; */
    border-bottom: 1px solid #7D7D7D;
}

.header {
  display: flex;
  width: 1170px;
}

.FAQText {
    display: flex;
    width: 522px;
    height: 12px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #121212;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.noneAns {
  display: none;
}

.ans {
  display: flex;
  width: auto;
  border: 1px solid #7D7D7D;
}

.openImg {
    cursor: pointer;
    margin-left: auto;
}

.FAQAnsver {
    color: #514A7E;
    display: flex;
    /* width: 522px; */
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 18.88px */
}
.FAQAnsvert p {
  color: #514A7E;
}

.faqEl .opened, .faqEl .closed { transition: 1s; }
.faqEl .opened { display: flex; border: 1px solid #7D7D7D; }
.faqEl .closed { display: none; } 